.knowledgebase {
    .instruction-wrapper {
        margin-bottom: 1.5rem;

        .box-shadow {
            box-shadow: 0px 1px 7px 0px rgba(170, 170, 170, 0.95);
            padding: 15px 10px;

            h3 {
                font-family: cursive;
                font-weight: 500;
                font-size: 20px;
                margin-bottom: 1rem;
            }
        }
    }

    .link-box {
        font-size: 2rem;
        text-align: center;
        padding: 3rem;
        display: block;
        color: #fff;
        font-family: cursive;
        i {
            vertical-align: middle;
            margin-left: 10px;
        }
    }

    .top-wrapperbox {
        padding: 50px 0;
        background-color: #f5f5f5;
        border-bottom: 1px solid #eee;
        margin-bottom: 40px;
        font-family: cursive;
        h1 {
            font-weight: 500;
            font-size: 28px;
            text-transform: uppercase;
        }
        a {
            font-size: 20px;
            color: #03a9f4;
        }
    }
    .windows-7-items {
        p {
            color: #7b7b7b;
            font-family: cursive;
            font-size: 20px;
        }
        ul {
            color: var(--gray);
            font-family: cursive;
            font-size: 18px;
        }
    }
}
