/node_modules
/../public_html/css
/../public_html/js
/../public_html/fonts
/../public_html/images
/../public_html/mix-manifest.json
/../public/hot
/../public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/../.idea/*
.idea/*
/.idea
yarn.lock
/../public_html/admin
/../public_html/member
/bower_components
.bowerrc
/../.history/*
/storage

/../public_html/addimage
/../public_html/broker
/../public_html/blogs/images
/../public_html/analyses/images
/../public_html/currency/images
/../public_html/signal/images
/../public_html/knowledgebases/images